/* Common */
:root {
  --playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  margin: 0px 80px;
}

.content {
  margin: 40px 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

.link-info {
  color: var(--primary-color) !important;
}

.link-info:hover {
  color: var(--primary-color) !important;
  opacity: 0.6;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
  background-color: var(--primary-color);
  color: white;
}

.btn-cancel {
  background-color: #6c757d;
  border-color: #6c757d;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-cancel:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Search */
.search .input-group input {
  background-color: var(--color-creamson);
}

.search .input-group button {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
}

/* Filter */
.filter .filter-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #fff;
}

.filter .list-group button {
  font-size: 20px;
  background-color: var(--color-creamson);
}

.filter .list-group .active {
  background-color: var(--primary-color);
  color: #fff;
}

/* Table */
.table {
  background-color: var(--color-creamson);
}

.table thead tr th {
  background-color: var(--primary-color);
  font-size: 20px;
  color: #fff;
}

.table tbody tr td {
  background-color: var(--color-creamson);
  font-size: 16px;
}

.table tbody tr td .btn {
  margin-top: 10px;
}

/* Header */
.header {
  margin: 30px 80px;
}

.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.header__logo-img{
  width: 48px;
  height: 48px;
}


.header__logo a {
  padding-left: 30px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  opacity: 0.8;
  margin-bottom: 0;
}

.header__menu {
  padding: 20px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-creamson);
  list-style: none;
  margin-bottom: 0;
  margin-left: 40px;
  border-radius: 20px;
}

.header__menu li {
  padding: 2%;
  font-weight: 500;
  font-style: 16px;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  line-height: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.header__menu li:hover {
  background-color: #b1454a;
  color: #fff;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu li a {
  font-size: 20px;
  font-weight: 500;
}

.header__menu-mobile {
  display: none;
  gap: 20px;
}



/* START: header media querie */
@media screen and (max-width: 900px) {
  .header__nav {
    background: var(--primary-color);
    border-radius: 20px;
  }

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 0;
  }


  .menu-icon {
    position: relative; 
    cursor: pointer;
  }

  .header__menu-mobile:hover .mobile-menu {
    display: block;
  }
  
  .mobile-menu {
    display: none; 
    position: absolute; 
    top: 6%; 
    right: 3%;
    background-color: var(--color-creamson);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .mobile__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
  }

  .header__menu li {
    padding: 2%;
    font-weight: 500;
    font-style: 16px;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    line-height: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .mobile-menu li {
    width: 100%;
    list-style: none;
    padding: 5%;
    font-weight: 500;
    font-style: 16px;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    line-height: 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .mobile-menu li:hover {
    background-color: #b1454a;
    color: #fff;
  }
  
  .mobile-menu li a {
    display: block; 
    padding: 10px 20px; 
    text-decoration: none; 
  }

}

@media screen and (max-width: 550px) {
  .header__logo {
    padding-left: 0;
  }
}

/* END: header media queries */

.mobile-menu {
  display: none; 
  position: absolute; 
  top: 6%; 
  right: 3%;
  background-color: var(--color-creamson);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* .banner {
  position: relative;
  margin-right: 20px; 
}

.cover {
  position: absolute;
  width: 14%;
  top: 57%;
  height: 15%;
  left: 10%;
  background-color: #f6ecdd;
  font-size: medium;
}

.banner_img {
  width: 100%;
  object-fit: cover;
} */

/* Banner */
.banner {}

.banner .carousel-item img{
  height: 450px;
  border-radius: 40px;
}

/* Book detail */
.book-detail {
  margin: 0px;
}

.book-detail_cover {
  height: 100%;
  border: 0.5px #888888 solid;
  background-color: var(--color-creamson);
}



.book-detail_img {
  background-color: var(--color-creamson);
  padding: 10%;
}

.book-detail_category {
  background-color: var(--primary-color);
  color: #fff;
}

.book-detail_category h4 {
  display: flex;
  padding: 5%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.book-detail_info {
  background-color: var(--color-creamson);
  border: 0.5px #888888 solid;
}

.book-detail_info hr {
  margin: 0;
  margin-bottom: 4%;
}

.book-detail_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.book-detail_info .book-detail_title {
  background-color: var(--primary-color);
  color: #fff;
}

.book-detail_title h3 {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-detail_desc {
  height: 50%;
  padding: 20px;
}

.book-detail_desc p{
  font-size: large;
  font-weight: 500;
}

.book-suggest {
  margin: 0;
  padding: 20px;
  width: 100%;
  background-color: var(--color-creamson);
}



.book-suggest h2 {
  padding: 20px 40px;
}

.book-suggest_list {
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.book-suggest_list h5 {
  margin: 40px;
}

.book-suggest_item {
  margin: 30px;
  width: 200px;
}

.book-suggest_item img {
  width: 200px;
  height: 300px;
}

/* Login page and Register page */
.form-login, .form-register {
  background-color: var(--color-creamson);
}

.login-header__logo {
  margin-top: 10%;
}

.register-header__logo {
  margin-top: 7%;
}

/* Phân trang */

.pagination .page-link {
  /* background-color: var(--color-creamson); */
  color: #020202;
  padding: 15px 20px;
}

.pagination .active span{
  background-color: var(--primary-color);
  color: #fff;
}

/* Add book */
.addBook {
  width: 100%;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-header {
  background-color: var(--primary-color);
  border-radius: 15px 15px 0 0;
  color: #fff;
  border: none;
  padding: 20px;
}

.card-body {
  background-color: var(--color-creamson);
}

.form-group,
.button-group{
  padding: 15px 30px;
}

.button-group{
  display: flex;
  justify-content: space-around;
}

.img_upload {
  display: flex;
  justify-content: center;
}

/* Contact Us */
.container_contact {
  background-color: #e7e3dd;
  margin: 0;
}

.contact-form {
  background-color: var(--color-creamson);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  padding: 40px;
  margin: 40px;
}

.contact-form h2 {
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}
.contact-form .form-group {
  margin-bottom: 25px;
}
.form-group label {
  font-weight: 600;
}

.form-control {
  border-radius: 10px;
}


/* Product */
.title_product {
  margin: 40px 0px;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 30px;
}

.title_product h2 {
  font-size: 2.5rem;
}

.product_cards {
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(254px, 1fr)); 
  gap: 30px;
}

.product_cards img {
  height: 385px;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-title {
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-read-more {
  margin-top: 30px;
  margin-left: 45%;
}

/* Footer */
.footer {
  padding: 20px 40px;
  margin: 0px 80px;
  background-color: var(--color-creamson);
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.footer__logo {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--playfair-display);
  color: var(--secondary-color);
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0px;
}

.footer__logo span {
  color: var(--primary-color);
}

.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 64px;
  margin-bottom: 0px;
}


.footer ul:last-child {
  gap: 32px;
}

.footer__nav {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav-item {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  text-transform: uppercase;
  color: var(--secondary-color);
  cursor: pointer;
  margin: 0px 30px;
}

.footer__nav li {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  text-transform: uppercase;
  color: var(--secondary-color);
  cursor: pointer;
}

.footer__social {
  margin-bottom: 0px;
  padding: 0px;
}


.footer__social li {
  width: 42px;
  height: 42px;
  background-color: var(--secondary-color);
  border-radius: 100%;
}

.footer__social li img {
  width: 45%;
  height: 45%;
  object-fit: contain;
}

.copyright {
  background-color: var(--primary-color);
}


/* Responsive */

@media screen and (max-width: 900px){
  body {
    margin: 0px;
  }

  .header {
    margin: 0px;
    margin-bottom: 20px;
  }

  .header__nav {
    border-radius: 0px;
  }

  .banner {
    margin-right: 0px;
  }

  .banner .carousel-item img{
    height: 300px;
    border-radius: 20px;
  }

  .content {
    margin: 40px 35px;
  }

  .filter .filter-title {
    padding: 15px;
  }

  .filter .filter-title h3{
    font-size: medium;
  }

  .filter .list-group button{
    font-size: large;
  }

  .table thead tr th {
    font-size: large;
  }

  /* Book detail */

  .book-detail_img {
    padding: 0%;
  }

  .book-detail_img img{
    padding: 0%;
    width: 245px;
    height: 390px;
  }

  .book-detail_desc {
    height: inherit;
    padding: 20px;
  }

  .book-detail_info .button-group {
    padding-top: 0px;
  }

  .book-suggest h2 {
    margin: 0;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
  }

  .book-suggest_item {
    margin: 50px;
  }

  
  /* Login page and Register page */
  .form-login__info, .form-register__info {
    width: 100%;
  }

  .form-login__img, .form-register__img {
    display: none !important;
  }

  .form-login__info form {
    width: 100% !important;
    padding-bottom: 10%;
  }

  .form-login__info .btn {
    width: 100% !important;
  }

  .form-register__info form {
    width: 100% !important;
    padding-bottom: 10%;
  }

  .form-register__info .btn {
    width: 100% !important;
  }

  /* Contact us */
  .container_contact .col-md-8{
    width: 83.33333333%;
  }

  
  /* Footer */
  .footer {
    margin: 0px;
    flex-direction: column;
  }
  
}

@media screen and (max-width: 550px) {
  .content {
    margin: 20px;
  }

  /* banner */
  .banner .carousel-item img{
    height: 200px;
    border-radius: 20px;
  }

  .mobile-menu {
    display: none; 
    position: absolute; 
    top: 10%; 
    right: 0%;
    background-color: var(--color-creamson);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  /* Table index */
  .col-mobile {
    display: none;
  }

  .table-search {
    margin-top: 20px;
  }


  /* Book detail */
  .book-detail_img {
    padding: 15%;
  }


  .book-detail_title h2 {
    font-size: larger;
  }
  
  .book-detail_desc p{
    font-size: large;
  }

  .book-detail_info {
    height: 100%;
    margin-top: 50px;
  }

  .book-detail_info hr {
    margin-bottom: 3%;
  }

  /* Login page and Register page */
  .login-header__logo, .register-header__logo{
    padding: 0 !important;
  }

  /* Contact us */
  .container_contact {
    background-color: white;
  }

  .contact-form {
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
  }

  .container_contact .col-md-8{
    width: 100%;
    padding: 0;
  }


  .footer__nav-item {
    margin: 0px 7px;
  }
}